
<div *ngIf="displayExamples" style="display: inline-block">
  <div *ngFor="let res of results" class="section">
    <div class="tweet">
      <img class="picture" [src]="res.picture" />
      <!--<div class="right">-->
      <div class="user">
        <div class="name"></div>
        <span class="username"> {{res.name}}</span>
        <span>@{{res['screen_name']}}</span>
      </div> <br><br>
      <div class="text"> {{res.sentence}}</div>
      <!--</div>-->
    </div>
    <div class="classification" *ngIf="results">
      <!--<app-chart [result]="result"></app-chart>-->
      <h2>Classification:</h2>
      <hr>
      <div>Sentiment: {{ res.classification}} {{res.emoji}} <span class="prob">{{ res.probability}}%</span></div>
      <div>Arousal: {{ res.arousal }} </div>
      <!--<div class="noUiSlider">
        <nouislider [min]="0" [max]="1" [(ngModel)]="res.arousal" [config]="someKeyboardConfig" [disabled]=true></nouislider>
      </div>-->
    </div>
  </div>
</div>